@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;   
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/f1\ ferrari.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



/* zoom effect */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

/* Container for symmetry */

.container {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    padding-top: 105px;
}

/* Drivers */

#driver1, #driver2 {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}

#driver1 {
    float: left;
}

#driver2 {
    float: right;
}

.left {
    height: 600px;
    width: 50%;
    float: left;
}

.right {
    height: 600px;
    width: 50%;
    float: right;
    height: 600px;
    line-height: 100px;
    background-color: #da291c;
    color: white;
}

.left img {
    height: 100%;
    width: 100%;
}
