@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 30px;
}

header {
    height: 75px;
    width: 100%;
    background-color: #da291c;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 150px;
    color: white;
}

#logo img {
    height: 50px;
    width: 80px;
    line-height: 75px;
    float: left;
    padding-top: 15px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    margin-right: 10%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    background-color: #da291c;
    padding: 10px;
    color: white;
}

#menu li:hover, #menu a:hover  {
    background-color: black;
}

#menu li:active, #menu a:active {
    background-color: white;
    color:#da291c;
}

.active {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 8%;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/f1\ ferrari.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



/* zoom effect */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

/* Container for symmetry */

.container {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f4f1;
    border-radius: 25px;
    box-sizing: border-box;
}

/* Drivers */

#driver1, #driver2 {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}

#driver1 {
    float: left;
}

#driver2 {
    float: right;
}

.left {
    height: 600px;
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
    height: 600px;
    line-height: 100px;
    background-color: #da291c;
    color: white;
}

.right a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.right a:hover {
    font-size: 130%;
    color: black;
}

.right span {
    color: white;
    font-weight: 800;
}

.left img {
    height: 100%;
    width: 100%;
}

/* Table Constructor */

table {
    width: 50%;
    height: 50%;
    padding: 10px;
    border: 1px solid red;
    float: left;
    background-color: #da291c;
    color: white;
}

th {
    font-size: 200%;
}

td {
    text-align: center;
}

td img {
    height: 25px;
    width: 35px;
}

#information {
    width: 50%;
    height: 50%;
    float: right;
    font-size: 1.5rem;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid green;
}
