@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
    background-color: #f7f4f1;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    padding: 30px 0;
}

header {
    height: 125px;
    width: 100%;
    background-color: #da291c;
}


#logo {
    float: left;
    font-size: 2.8rem;
    margin-left: 150px;
    color: white;
}

#logo img {
    height: 50px;
    width: 80px;
    line-height: 125px;
    float: left;
    padding-top: 40px;
}

#extra {
    visibility: hidden;
    height: 1px;
    width: 1px;
    line-height: 125px;
    float: left;
    padding-top: 40px;
}

/* navigation links */

#menu {
    letter-spacing: 4px;
    float: right;
    margin-right: 10%;
}

#menu, #logo {
    line-height: 125px;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    background-color: #da291c;
    padding: 10px;
    color: white;
    font-size: 1.3rem;
}
 
#menu a:hover  {
    background-color: black;
}

#menu a:active {
    background-color: white;
    color:#da291c;
}

.active {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 8%;
}

/* hero image and team-info */

#mini-container {
    height: 430px;
    width: 100%;
    background-color: #fff;
}

#hero-outer {
    height: 400px;
    width: 75%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

#hero-image {
    height: 400px;
    width: 75%;
    float: left;
    background: url('../images/ferrari-car.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom effect */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

#team-info {
    height: 300px;
    width: 28%;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 35%;
    position: absolute;
    top: 160px;
    right: 15%;
    box-shadow: 10px 10px 8px #da291c;
    text-align: center;
}

#team-info h3 {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 5px 5px 4px #da291c;
}

#team-info p {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 8px;
}

p span {
    font-weight: 800;
}

/* Container for sections */

.container {
    width: 90%;
    height: 600px;
    margin: 0 auto;
/*    padding: 40px 50px 75px 50px;*/
}

/* Drivers */

#driver1, #driver2 {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}

#driver1 {
    float: left;
}

#driver2 {
    float: right;
}

.left {
    height: 600px;
    width: 60%;
    float: left;
}

.right {
    width: 40%;
    float: right;
    height: 600px;
    line-height: 95px;
    background-color: #da291c;
    color: white;
}

.right p {
    font-size: 1.2rem;
}

.right a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.right a:hover {
    font-size: 130%;
    color: black;
}

.right span {
    color: white;
    font-weight: 800;
}

.left img {
    height: 100%;
    width: 100%;
}

/* Table structor and text paragraph */

#standings {
    width: 50%;
    height: 100%;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}

#standings th {
    font-size: 3rem;
    background-color: lightgrey;
    border-radius: 10px;
}

#standings td {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    border-radius: 10px;
    width: 50%;
}

#standings td img {
    height: 25px;
    width: 35px;
    position: relative;
    top: 3px;
}

#redbull {
    background-color: rgb(0, 21, 42)
}

#ferrari {
    background-color: rgb(218, 41, 28)
}

#mercedes {
    background-color: rgb(12, 165, 151);
}

#alpine {
    background-color: rgb(12, 29, 44);
}

#mclaren {
    background-color: rgb(255, 158, 27);
}

#alfa {
    background-color: rgb(165, 29, 47);
}

#aston {
    background-color: rgb(0, 53, 47);
}

#haas {
    background-color: rgb(0, 0, 0);
}

#alpha {
    background-color: rgb(1, 19, 33);
}

#williams {
    background-color: rgb(4, 30, 66);
}

#information {
    width: 50%;
    height: 100%;
    float: right;
    font-size: 1.60rem;
    padding: 5px 40px;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 100px;
    margin-top: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 0 10%;
    padding: 15px;
    color: #38383f;
}

.social-networks i:hover {
    background-color: #38383f;
    color: white;
}

/* Player profiles */

.profile {
    height: 100%;
    width: 35%;
    float: left;
}

.profile img {
    height: 90%;
    width: 100%;
}

.profile h2 {
    text-shadow: 5px 5px 4px #da291c;
    color: black;
}

.results {
    height: 100%;
    width: 65%;
    float: right;
    text-align: center;
}

.results h3 {
    font-size: 1.8rem;
    padding: 10px 0;
}

.results p {
    padding: 11px 0;
    font-size: 1.3rem;
}

.best-five, .worst-five {
    background-color: lightgrey;
    margin-top: 82px;
}

.best-five {
    height: 50%;
    width: 50%;
    float: left;
    border-radius: 10px 0 0 10px;
}

.worst-five {
    height: 50%;
    width: 50%;
    float: right;
    border-radius: 0 10px 10px 0;
}

#recap {
    height: 50%;
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
    padding: 20px;
    box-sizing: border-box;
}

/* Media Queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    #logo {
        margin-left: 50px;
    }

    #menu {
        margin-right: 10px;
    }

    #information {
        font-size: 1.3rem;
    }

    .social-networks i {
        margin: 0 5%;
    }
    
    #recap {
        font-size: 1.2rem;
    }

  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    #logo {
        margin-left: 20px;
        font-size: 2rem;
    }

    #menu {
        margin-right: 10px;
    }

    #menu li {
        margin-right: 10px;
    }

    #menu a {
        font-size: 1.1rem;
    }

    #team-info h3 {
        font-size: 1.5rem;
    }

    #team-info p {
        font-size: 1.3rem;
    }

    .left, .right {
        height: 350px;
    }

    .right {
        line-height: 55px;
    }

    .right p {
        font-size: .8rem;
    }

    #standings {
        width: 100%;
    }

    #information {
        width: 100%;
        text-align: justify;
        font-size: 1.7rem;
    }

    .social-networks i {
        margin: 0 3%;
        margin-bottom: 50px;
    }

    #recap {
        font-size: 1.05rem;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    #logo {
        font-size: 1.2rem;
        margin-left: 5px;
    }

    #menu {
        margin-right: 5px;
    }

    #menu li {
        margin-right: 2px
    }

    #menu a {
        font-size: 0.9rem;
    }

    #mini-container {
        height: 200px;
    }

    #hero-outer {
        width: 100%;
    }

    #hero-image {
        width: 100%;
    }

    #team-info {
        height: 200px;
        width: 70%;
        top: 350px;
    }

    #team-info h3 {
        font-size: 1.4rem;
        text-shadow: none;
    }

    #team-info p {
        font-size: 1rem;
    }

    #driver1, #driver2 {
        height: 420px;
        width: 100%;
    }

    .left img, .right {
        height: 400px;
    }

    .right {
        line-height: 65px;
    }

    #standings {
        width: 100%;
    }

    #information {
        width: 100%;
        text-align: justify;
        font-size: 1.45rem;
    }

    .social-networks i {
        margin: 0 3%;
        margin-bottom: 50px;
    }

    .profile {
        width: 100%;
    }

    .results {
        width: 100%;
    }

    #recap {
        font-size: 1.1rem;
        width: 100%;
        margin-top: 320px;
    }

    .best-five, .worst-five {
        margin-top: 30px;
    }

  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */

    h2 {
        font-size: 1.5rem;
    }

    #logo {
        margin-left: 5px;
        color: white;
        font-size: 0;
    }

    #menu {
        margin-right: 5px;
    }

    #menu li {
        margin-right: 2px
    }

    #menu a {
        font-size: 0.9rem;
    }

    #mini-container {
        height: 200px;
    }

    #hero-outer {
        width: 100%;
    }

    #hero-image {
        width: 100%;
    }

    #team-info {
        height: 200px;
        width: 70%;
        top: 350px;
    }

    #team-info h3 {
        font-size: 1.4rem;
        text-shadow: none;
    }

    #team-info p {
        font-size: .9rem;
        line-height: 15px;
    }

    #driver1, #driver2 {
        height: 820px;
        width: 100%;
    }

    .left img, .right {
        height: 400px;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .right {
        line-height: 65px;
        width: 100%;
        height: 400px;
    }

    #standings {
        height: 60%;
        width: 100%;
    }

    #standings th {
        height: 150px;
    }

    #standings td {
        font-size: 1rem;
    }

    #standings td img {
        display: none;
    }

    #information {
        width: 100%;
        text-align: justify;
        font-size: 1.1rem;
        height: 40%;
        overflow: scroll;
    }

    .social-networks {
        height: 100px;
    }

    .social-networks i {
        margin: 0 3%;
        margin-bottom: 25px;
    }

    .profile {
        width: 100%;
    }

    .results {
        width: 100%;
    }

    .results h3 {
        font-size: 1.3rem;
    }

    .results p {
        font-size: 1.1rem;
    }

    #recap {
        font-size: .9rem;
        width: 100%;
        margin-top: 320px;
    }

    .best-five, .worst-five {
        margin-top: 30px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */

    h2 {
        font-size: 1.1rem;
    }

    #logo {
        display: none;
    }

    #extra {
        height: 50px;
        width: 80px;
        line-height: 125px;
        padding-top: 40px;
        float: left;
        visibility: visible;
    }

    #menu {
        margin-right: 5px;
    }

    #menu li {
        margin-right: 1px;
    }

    #menu a {
        font-size: 0.65rem;
    }

    #mini-container {
        height: 200px;
    }

    #hero-outer {
        width: 100%;
    }

    #hero-image {
        width: 100%;
    }

    #team-info {
        height: 200px;
        width: 70%;
        top: 350px;
    }

    #team-info h3 {
        font-size: 1.4rem;
        text-shadow: none;
    }

    #team-info p {
        font-size: .9rem;
        line-height: 15px;
    }

    #driver1, #driver2 {
        height: 820px;
        width: 100%;
    }

    .left img, .right {
        height: 400px;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .right {
        line-height: 65px;
        width: 100%;
        height: 400px;
    }

    #standings {
        height: 60%;
        width: 100%;
    }

    #standings th {
        height: 150px;
        font-size: 2rem;
    }

    #standings td {
        font-size: 1rem;
    }

    #standings td img {
        display: none;
    }

    #information {
        width: 100%;
        text-align: justify;
        font-size: 1.1rem;
        height: 40%;
        overflow: scroll;
    }

    .social-networks {
        height: 100px;
    }

    .social-networks i {
        margin: 0 1%;
        margin-bottom: 25px;
    }

    .profile {
        width: 100%;
        height: 456px;
    }

    .profile img {
        height: 400px;
    }

    .results {
        width: 100%;
    }

    .results h3 {
        font-size: 1.2rem;
    }

    .results p {
        font-size: 1rem;
    }

    #recap {
        font-size: .7rem;
        width: 100%;
        margin-top: 320px;
    }

    .best-five, .worst-five {
        margin-top: 30px;
    }
  }